<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
    </header>
    <main class="mt-5">
        <div class="bg-image-quote-create">
            <hr class="bg-hero hr-2"/>
            <h1 class="text-center font-weight-bold text-black h1" th:text="${recipeShowBindingModel.name}"></h1>
            <hr class="bg-hero w-25 hr-2"/>
            <div th:object="${recipeShowBindingModel}">
                <div class="text-center">
                    <h2 class="text-black">Portions</h2>
                    <p th:text="${recipeShowBindingModel.portionsCount}"></p>
                    <h2 class="text-black">Instructions</h2>
                    <p th:text="${recipeShowBindingModel.instructions}"></p>
                </div>
                <br/>
                <div class="table-responsive-sm">
                    <table class="table w-auto">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Amount (gram or count)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr scope="row" th:each="row,rowStat : ${recipeShowBindingModel.ingredientsList}">
                            <td th:text="${row.ingredient}"></td>
                            <td th:text="${row.amount}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr class="bg-hero hr-2"/>
            </div>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>