<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
        <script src="/js/addIngredients.js"></script>
    </header>
    <main class="mt-5">
        <span style="visibility: hidden">....</span>
        <h1 class="text-center bold font-weight-bold text-dark">Create Order</h1>
        <hr class="hr-2 bg-dark">
        <div>
            <form method="get" th:action="@{/orders/shoppingList}">
                <button type="submit" name="shoppingList" class="btn btn-secondary btn-sm">Download Shopping List</button>
            </form>
            <br />
            <form method="get" th:action="@{/orders/recipePlanList}">
                <button type="submit" name="recipePlanList" class="btn btn-secondary btn-sm">Download Full Recipe Plan List</button>
            </form>
            <br />
            <form>
                <input type="radio" id="ebag" name="supplier" value="ebag" disabled>
                <label for="ebag">Ebag</label><br>
                <input type="radio" id="supermag" name="supplier" value="supermag" disabled>
                <label for="supermag">Supermag</label><br>
                <div>
                    <form method="get" th:action="@{/orders/buy}">
                        <button type="submit" name="buy" class="btn btn-secondary btn-sm" disabled>Buy</button>
                    </form>
                </div>
            </form>
        </div>
        <hr class="hr-2 bg-dark">
        <div class="table-responsive-lg">
            <table class="table mx-auto" id="CreateOrder">
                <thead class="thead-light">
                    <tr class="row mx-auto">
                        <th scope="col" class="col-md-3 text-center">Ingredient</th>
                        <th scope="col" class="col-md-5 text-center">Amount (gram or count)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" class="row mx-auto" th:each="element : ${totalIngredientsAndAmountsMap}">
                        <td class="col-md-3 text-center" th:text="${element.key}">key</td>
                        <td class="col-md-5 text-center" th:text="${element.value}">value</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <br />
        <br />
        <span style="visibility: hidden">....</span>

    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>