<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
        <script src="/js/addIngredients.js"></script>
    </header>
    <main class="mt-5">
        <span style="visibility: hidden">....</span>
        <h1 class="text-center bold font-weight-bold text-dark">Create Order</h1>
        <hr class="hr-2 bg-dark">
        <table class="table table-hover w-75 mx-auto" id="CreateOrder">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-1 text-center">Row Count</th>
                <th class="col-md-3 text-center">Ingredient</th>
                <th class="col-md-3 text-center">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row mx-auto">
                <td class="col-md-1 text-center">1</td>
                <td class="col-md-3 text-center">Tomatoes</td>
                <td class="col-md-3 text-center">1kg</td>
                <td class="button-holder mt-3 d-flex justify-content-center">
                </td>
            </tr>
            </tbody>
        </table>
        <span style="visibility: hidden">....</span>

    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>