.bg-hero {
    background: #343a40;
    color: white;
}

.text-hero {
    color: white;
}

.hr-2 {
    height: 2px;
}

textarea {
    resize: none;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}
.text-center{
    font-size: larger;
    font-style: inherit;
    font-weight: bold;
}

.recipefooter {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.table {
    width: 50%;
    margin: 0 auto !important;
}

